<a-sky src="./resources/sky/IMG_20231124_161235_00_009_PureShot.jpg" rotation="0 -130 0"></a-sky>

<a-entity scene-changer cam-angle="150" anchor="center" scale=".5 .5 .01" geometry="primitive: plane; width: 1.5; height: 1" material="color: #333333; shader: shadow; transparent: false" class="raycastable field">
    <a-text value="/\" width="40" anchor="center" align="center" class="Behind_Bad" ></a-text>
</a-entity>