<a-sky src="./resources/sky/SN/SN-Pano-2.jpg" rotation="0 180 0"></a-sky>

<a-entity id="leftHand"  laser-controls="hand: left" raycaster="objects: .raycastable"></a-entity>
<a-entity id="rightHand" laser-controls="hand: right" raycaster="objects: .raycastable" line="color: #118A7E"></a-entity>

<a-entity scene-changer cam-angle="50" anchor="center" scale=".5 .5 .01" geometry="primitive: plane; width: 1.5; height: 1" material="color: #333333; shader: shadow; transparent: false" class="raycastable field">
    <a-text value="/\" width="40" anchor="center" align="center" class="Behind_Bad" ></a-text>
</a-entity>